doctype html
mixin links(name, url)
  li
    a(href=url class=url === path ? 'active' : null)=name

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      +links('Nowości', '/news')
      +links('Zagraj w quiz', '/quiz')
      +links('Zaloguj się', '/admin')

    block content
